@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "app";
  src: url("../public/assets/font/MontRegular.woff2");
}
@font-face {
  font-family: "app-bold";
  src: url("../public/assets/font/MontBold.woff");
}
