@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "app";
  src: url("../public/assets/font/MontRegular.woff2");
}
@font-face {
  font-family: "app-bold";
  src: url("../public/assets/font/MontBold.woff");
}
@font-face {
  font-family: "app-heavy";
  src: url("../public/assets/font/MontHeavy.woff");
}
@font-face {
  font-family: "app-semiBold";
  src: url("../public/assets/font/MontSemiBold.woff2");
}
body{
  @apply overflow-x-hidden scroll-smooth;
}
.button {
  position: relative;
  display: inline-block;
  background-image: url("../public/assets/img/Untitled.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
 
  transition: background-size .4s, color .0s;
}
.button:hover {
  background-size: 140% 200%;
  color: black;
}
.scrollbar-width {
  scrollbar-width: none !important;
}
.scrollbar-width::-webkit-scrollbar {
  @apply hidden;
}